/* ------------------СЕКЦИЯ НАША КОМАНДА -------------------*/
.team {
    background-color: var(--secondary-background);

    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team__list {
    display: block;

    @media screen and (min-width: 768px) {
        @include flex();
        flex-wrap: wrap;
        justify-content: center;
        margin-right: calc( -1 * var(--item-gap));
        margin-bottom: calc( -1 * var(--item-gap));
    }
}

.team__item {
    max-width: 450px;
    text-align: center;

    @include font(var(--main-color), 400, 16px, 1.19, 0.03em);

    background-color: var(--brand-white-color);
    box-shadow: var(--shadow);
    border-radius: 3px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        &:not(:last-child) {
            margin-bottom: var(--item-gap);
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - var(--item-gap)); /*----calc((100% / кол-во элементов в строке - значение марджина)----*/
        margin-right: var(--item-gap);
        margin-bottom: var(--item-gap);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - var(--item-gap)); /*----calc((100% / кол-во элементов в строке - значение марджина)----*/
    }
}

.team__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__title {     /*Заголовок h3 секция Наша команда*/
    @include font(var(--secondary-color), 500, 16px, 1.19, 0.03em);
    text-align: center;

    display: inline-block;
    margin-bottom: 10px;
}

.team__text {
    display: block;
    margin-bottom: 16px;
}
