/* ----------------ОБЩИЕ СТИЛИ СЕКЦИЙ------------------ */

.body {                /*Фон, цвет и Шрифт текста параграфов в секциях*/
    padding-top: 80px;

    background-color: var(--brand-white-color);
    color: var(--main-color);

    font-family: Roboto, sans-serif;
}

.conteiner {   /*Контейнер для центрирования шапки, контента и футера*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1200px;
}

.section__title {   /*Заголовок Секции h2*/
    @include font(var(--secondary-color), 700, 36px, 1.17, 0.03em);

    display: block;
    margin-bottom: 50px;
    text-align: center;
}
.section {      /* Обертка секций контента*/
    padding-top: 94px;
    padding-bottom: 94px;
}