/* СБРОС СТИЛЕЙ ЗАГОЛОВКОВ, АБЗАЦЕВ, СПИСКОВ, ИЗОБРАЖЕНИЙ, ССЫЛОК */
h1, h2, h3, p, ul {  /*Сброс марджинов браузера*/
    margin-top: 0;
    margin-bottom: 0;
}
img {       /*Убираем зазор под изображением, ограничиваем габариты максимально 100% ширины*/
    display: block;
    max-width: 100%;
    height: auto;
}
