%list-none {       /*Убираем маркировку списка, сбрасываем марджины и падинги*/
    padding: 0;
    margin: 0;
    list-style: none;
}

%link-none {          /*Убираем декорирование ссылок*/
    text-decoration: none;
}