/* ------------------СЕКЦИЯ ГАЛЕРЕЯ -------------------------*/
.galery {
    @media screen and (max-width: 1199px) {
        padding-top: 0;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 0;
        padding-bottom: 94px;
    }
}

.gallery__list {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: calc( -1 * var(--item-gap));  /*-----Преобразование в отрицательное значение------*/
        margin-bottom: calc( -1 * var(--item-gap));
    }
}

.gallery-item {
    background-color: var(--brand-white-color);
    max-width: 450px;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: var(--item-gap);
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - var(--item-gap)); /*----calc((100% / кол-во элементов в строке - значение марджина)----*/
        margin-right: var(--item-gap);
        margin-bottom: var(--item-gap);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 3 - var(--item-gap)); /*----calc((100% / кол-во элементов в строке - значение марджина)----*/
    }
}

.gallery-link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        box-shadow: var(--shadow-gallery);
        cursor: pointer;
    }
}

.gallery-thumb {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}

.gallery-text {
    position: absolute;
    left: 0;
    top: 100%;

    @include flex();
    @include font(var(--brand-white-color), 400, 18px, 1.56, 0.03em);
    
    text-align: left;
    padding: 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    z-index: 8;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .gallery-link:hover &, .gallery-link:focus & {
        transform: translateY(-100%);
    }
}

.gallery-card {
    @include font(var(--main-color), 400, 16px, 1.88, 0.03em);

    padding: 20px 24px;
    border: 1px solid var(--gallery-border);
}

.gallery-title {    /*Заголовок h2 секция Галерея*/
    @include font(var(--secondary-color), 700, 18px, 2, 0.06em);

    display: inline-block;
    margin-bottom: 4px;
}

