/* ------------------СЕКЦИЯ ОСОБЕННОСТИ-------------------- */
.section--no-padding-bottom {
    padding-bottom: 0;
}

.features {
    @include flex();
    margin-right: calc( -1 * var(--item-gap));
}

.features__item {
    @include font(var(--main-color), 400, 14px, 1.71, 0.03em);
    flex-basis: calc(100% / 4 - var(--item-gap)); /*----calc((100% / кол-во элементов в строке - значение марджина)----*/
    margin-right: var(--item-gap);
}

.features__box {
    @include flex();
    height: 120px;
    background-color: var(--secondary-background);
    margin-bottom: var(--item-gap);
    border-radius: 4px;
    justify-content: center;
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__title {  /*Заголовок h3 секция Особенности*/
    @include font(var(--secondary-color), 700, 14px, 1.14, 0.03em);
    text-transform: uppercase;

    display: inline-block;
    margin-bottom: 10px;
}